:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* header */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  cursor: pointer;

  color: var(--iris);
}

.logo-black {
  color: var(--navy-blue);
}
.logo-white {
  color: var(--cloud);
}

.line::after{
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";

  background-color: var(--ocean);
}

.navigation-list {
  display: flex;
}

.header-link {
  position: relative;

  margin-right: 40px;
}

.navigation-list :last-child {
  margin-right: 0;
}

.navigation-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  color: var(--navy-blue);
}

.navigation-link:active,
.address-link:active,
.navigation-link:hover,
.address-link:hover,
.navigation-link:focus,
.address-link:focus  {
  color: var(--ocean);
}

.navigation-link_active{
  color: var(--ocean);
}

.address a:last-child {
  margin-right: 0;
}

.address {
  margin-left: auto;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 40px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;

  color: var(--slate);
}

/* main */


.hero-section {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  
  text-align: center;

  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position:center;
}

.hero-headers {
  width: 500px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.11;

  color: #ffffff;
}

/* MODAL */
.backdrop{
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background-color: var(--navy-blue-modal);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0.7);
  box-shadow: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 408px;
  padding: 24px;
  opacity: 1;

  border-radius: 4px;

  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background: #fcfcfc;
}

.modal-button{
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  display: flex;
  justify-content: flex-end;
  padding: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;

  background-color: var(--cornflower);
}

.modal-button:hover .modal-button__close,
.modal-button:focus .modal-button__close,
.modal-button:active .modal-button__close{
  fill: #ffffff;
}

.modal-button:hover,
.modal-button:active,
.modal-button:focus{
  background-color: var(--ocean);
}

.modal-button__close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 8px;
  height: 8px;
 
  fill: #000000;
}

.modal__suptitle{
  padding-top: 48px;
  margin-bottom: 10px;

  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.modal__label{
  display: block;

  margin-bottom: 8px;
}

.modal__label-input{
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 38px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fcfcfc;
}

.modal__label-input:focus{
  outline: none;

  border-color: var(--iris);

}

.modal__label-icon{
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label-input:focus + .modal__label-icon{
  fill: var(--iris);
}

.modal__label-input.text{
  display: flex;
  height: 120px;

  resize: none;
}

.modal__label-input::placeholder{
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label-span{
  display: inline-block;

  margin-bottom: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal__label:last-child{
  margin-bottom: 16px;
}

.modal__label-icon.person{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
}

.modal__label-icon.tell{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;
}

.modal__label-icon.email{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;
}

.modal__label-icon-tick > use{
  
  opacity: 0;
  fill: var(--cloud);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label-icon-tick{
  width: 16px;
  height: 16px;
  padding: 2.75px 1.75px;
  margin-right: 8px;
  cursor: pointer;

  border-radius: 2px;
  border: 1.25px solid var(--navy-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal__label-box{
  position: relative;
}

.modal__label-input.text{
  padding-left: 16px;
}

.checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .modal__label-icon-tick > use{
  opacity: 1;
}

.checkbox:checked + .modal__label-icon-tick{
  background-color: var(--ocean);
  border: 1.25px solid var(--ocean);
}

.modal__checkbox{
  display: flex;
  justify-content: flex-start;
}

.modal__checkbox-subtitle{

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal__checkbox-subtitle > a{
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.modal__button-send{
  display: block;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 32px;
  width: 169px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
}

.modal__button-send:hover,
.modal__button-send:focus{
  background-color: var(--ocean);
}


.button-hero {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  cursor: pointer;

  border-color: transparent;
  color: #ffffff;
  background-color: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--ocean);
}

.privileges {
  padding-top: 120px;
  padding-bottom: 120px;
}

.privileges-list {
  display: flex;
}

.privileges-list h3 {
  margin-bottom: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;

  color: var(--navy-blue);
}

.privileges-list p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--slate);
}

.privileges-item {
  margin-right: 24px;
}

.privileges-item:last-child {
  margin-right: 0;
}

.privileges-box{
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;

  height: 112px;
  border-radius: 4px;
  
  background-color: var(--cloud); 
}

.strategy-icon{
  width: 64px;
  height: 64px;
}

.work {
  width: 1158px;
  padding-bottom: 120px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  margin-right: 24px;
}

.work-item:last-child {
  margin-right: 0;
}

.headers {
  margin-bottom: 72px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;

  color: var(--navy-blue);
}

.team {
  padding-top: 120px;
  padding-bottom: 110px;

  background-color: var(--cloud);
}

.team-container {
  width: 1128px;
  margin-right: auto;
  margin-left: auto;
}

.team-cards {
  display: flex;
  justify-content: space-between;
}

.team-cards h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  color: var(--navy-blue);
}

.team-cards p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--slate);
}

.team-item {
  border-radius: 0 0 4px 4px;

  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-image{
  display: block;
}

.team-cards-footer h3 {
  margin-bottom: 8px;
}

.team-cards-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-cards .team-item:last-child {
  margin-right: 0;
}

.team-list{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.team-list__link{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--iris);
}

.team-list__link:hover,
.team-list__link:focus {
  background-color: var(--ocean);
}


.team-cards-icon{

  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 12px;
}



.company{
  padding-top: 130px;
  padding-bottom: 120px;
}

.company__title{

  margin-bottom: 72px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  color: var(--navy-blue);
}

.company__list{
  display: flex;
  justify-content: space-between;

  width: 1128px;
}

.company__link{

  display: flex;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
}


.company__logo{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 16px 32px;

  width: 168px;
  height: 88px;

  fill: var(--light-slate);
}

.company__link:hover, 
.company__link:active,
.company__link:focus{
  border: 1px solid var(--ocean);

  fill: var(--ocean);
} 

.company__link:hover .company__logo,
.company__link:focus .company__logo,
.company__link:active .company__logo{
  border-color: 1px solid var(--ocean);

  fill: var(--ocean);  
}

/* footer */
.footer {
  background-color: var(--navy-blue);
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--cornflower);
}

.footer-container {
  display: flex;

  padding-top: 100px;
  padding-bottom: 100px;

}

.footer-container p {
  width: 264px;
  margin-top: 16px;
}

.footer__box{
  margin-right: 120px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  cursor: pointer;

  color: var(--iris);
}

.social-media-box{
  margin-right: 80px;
}

.footer__title{
  margin-bottom: 16px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;

  color: #fff;
}

.footer__title-form{
  display: flex;
}

.footer-input::placeholder{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input{
  padding: 8px 16px;


  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--cloud);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
}

.footer-input:focus{
  border-color: var(--ocean);
}

.footer-subscribe{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 24px;
  border-radius: 4px;
  padding: 6px 24px;
  width: 165px;
  height: 40px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: transparent;
  background-color: var(--iris);
}

.footer-subscribe:hover,
.footer-subscribe:focus{
  background-color: var(--ocean)
}

.footer-subscribe-span{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-img{
  width: 24px;
  height: 24px;

  fill: #ffffff;
}

.footer__list{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 208px;
}

.footer-list__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  
}

.footer-list__link:hover,
.footer-list__link:focus,
.footer-list__link:active{
  background-color: var(--green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.footer__icon{
  width: 24px;
  height: 24px;
}

/* portfolio */
/* main */

.filter-box{
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
}

.filter-list li {
  margin-right: 24px;
}

.filter-list li:last-child {
  margin-right: 0;
}


.filter-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  background-color: var(--cloud);
  color: var(--iris);
}

.filter-button:hover,
.filter-button:focus {
  border-color: transparent;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;

  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--ocean);
}

.filter-cards {
  display: flex;
  flex-wrap: wrap;
}

.filter-cards__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--navy-blue);
}

.filter-cards__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--slate);
}

.filter-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-right: 24px;
  margin-bottom: 48px;
  
  cursor: pointer;
  
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.filter-item:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.filter-item img {
  display: block;
}

.filter-item:nth-child(3n + 3) {
  margin-right: 0;
}

.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.filter-item__box{
  position: relative;

  width: 360px;
  height: 300px;
  overflow: hidden;

}

.filter-overlay{
  position: absolute;
  top: 100%;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background: var(--iris);
}

.filter-item:hover .filter-overlay{
  transform: translateY(-100%);
}

.filter-overlay__subtitle{
  
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;

  color: var(--cloud);
}

.text-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-top: none;

  border: 1px solid var(--cornflower);
}

.text-container p {
  margin-top: 8px;
}
/* visaulity hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
